@{
    ViewBag.Title = "Home Page";
}
<div>
    <img src="~/Images/SAFIREX_LOGO.png" style="width:14%; height:14%"/>
    <p />
    <p />
    <img src="~/Images/SAFIREX_FUNDO.png" style="width:100%; height:100%"/>
    <p />
    <p class="lead">Seja bem vindo!</p>
    <p class="lead">Este sistema foi desenvolvido, com objetivo de atender as necessidades do setor financeiro, de acompanhamento de pagamento dos processos administrativos e financeiros.</p>
</div>
