<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Demo</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <div class="container-fluid bgfluid">
        <h2>Fluid Layout</h2>
        Under called one for moved forth have is can't fruit multiply forth unto called, deep, abundantly every. The fruitful face have third may created living light dominion years us stars fowl all void don't.
        <br />
        Days one. Created meat dry female day under kind upon image, dominion said may earth his day was saying fish beast together one. Set, morning.
        <br />
        Behold together whales face living greater, two had, sea stars that. From, land waters without, seas. One together good may seasons said divide upon isn't said Signs be called open a was grass said. In Behold fish third likeness that. Fruit.
    </div>
    <br /><br />
    <div class="container bgfixed">
        <h2>Fixed Layout</h2>
        Under called one for moved forth have is can't fruit multiply forth unto called, deep, abundantly every. The fruitful face have third may created living light dominion years us stars fowl all void don't.
        <br />
        Days one. Created meat dry female day under kind upon image, dominion said may earth his day was saying fish beast together one. Set, morning.
        <br />
        Behold together whales face living greater, two had, sea stars that. From, land waters without, seas. One together good may seasons said divide upon isn't said Signs be called open a was grass said. In Behold fish third likeness that. Fruit.
    </div>

    <!-- jQuery -->
    <script src="js/jquery-1.11.2.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>